@*@model IEnumerable<WebApplication3.Models.Article>*@
@model List<WebApplication3.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Title)*@
                Title
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Content)*@
                Content
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Author)*@
                Author
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Category)*@
                Category
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArticleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArticleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ArticleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (!Model.Any())
{
    <p>Not Things Else</p>
}
