@*@model IEnumerable<WebApplication3.Models.Article>*@
@model List<WebApplication3.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Title)*@
                @*<a href="/Articles/Index?orderBy=title_desc">Title</a>*@
                Title
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Content)*@
                Content
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Author)*@
                @*<a href="/Articles/Index?orderBy=author_desc">Author</a>*@
                Author
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Category)*@
                Category
            </th>
            <th>
                <div class="dropdown">
                    <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sorting follow: 
                    </a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/Articles/Index?orderBy=title">Title: a - z</a></li>
                        <li><a class="dropdown-item" href="/Articles/Index?orderBy=title_desc">Title: z - a</a></li>
                        <li><a class="dropdown-item" href="/Articles/Index?orderBy=author">Author: a - z</a></li>
                        <li><a class="dropdown-item" href="/Articles/Index?orderBy=author_desc">Author: z - a</a></li>
                    </ul>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArticleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ArticleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ArticleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (!Model.Any())
{
    <p>Not Things Else</p>
}
